.page > .book {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.book {
    box-sizing: border-box;
    padding: var(--padding-min);
    width: 100%;
    border-bottom: 1px solid var(--default-text-color-dull);
}

.book a {
    text-decoration: none;
}

.book-title {
    padding-bottom: var(--padding-min-half);
    display: block;
    font-size: 1.5em;
    font-weight: var(--weight-light);
    color: var(--default-text-color)
}

.book-domain {
    font-weight: var(--weight-regular);
    color: var(--default-text-color-dull)
}

/* add book modal */
#add-book-modal-btn {
    cursor: pointer;
    color: var(--default-text-color);
    font-weight: var(--weight-thin);
}

#add-book-modal-title {
    color: var(--inverted-default-text-color);
    line-height: 1.4em;
    font-size: 1.4em;
    width: 80%;
    display: inline-block;
    margin-bottom: var(--padding-min-half);
}

#add-book-modal-input {
    padding: var(--padding-min);
    width: 100%;

    margin-bottom: var(--padding-min);
    border-width: 0 0 1px 0;
    border-color: var(--dark-color);
}

#add-book-modal-submit {
    width: 100%;
    padding: 1em;
    color: var(--default-text-color);
    background-color: #222;
    border: 1px solid var(--bright-color);
    border-radius: 5px;
}
