:root {
    --page-background: #202137;

    --nav-background: #1a1a2c;
    --nav-focused: #eff0f2;
    --nav-unfocused: #5e5e6c;

    --bright-color: #ffffff;
    --dark-color: #000000;
    --dull-color: #aaaaaa;

    --baseline-h: 20px;
    --baseline-v: 16px;

    --weight-thin: 200;
    --weight-light: 300;
    --weight-regular: 400;
    --weight-bold: 600;
}

@media only screen and (min-width: 767px) and (max-width: 960px) {
    :root {
        --baseline-h: 20px;
        --baseline-v: 16px;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    :root {
        --baseline-h: 20px;
        --baseline-v: 16px;
    }
}