:root {
    --primary-background: #202137;
    --secondary-background: #1a1a2c;

    --primary-foreground: #ffffff;
    --secondary-foreground: #aaaaaa;
    --highlight-color: #5e5e6c;

    --baseline-h: 20px;
    --baseline-v: 16px;

    --weight-thin: 200;
    --weight-regular: 400;
    --weight-bold: 600;
}

/* color ref: https://www.color-hex.com/color/000000 */
/* dark style*/
.dark-theme {
    --primary-background: #000000; /* base */
    --secondary-background: #191919; /* tint 1 of base from left */

    --primary-foreground: #E5E5E5; /* tint 2 of base from right */
    --secondary-foreground: #898989; /* shade 5 of primary from left */
    --highlight-color: #B7B7B7; /* shade 3 of primary from left */
}

.gold-theme {
    --primary-foreground: #F9F3E8; /* tint 2 of base from right */
    --secondary-foreground: #C7C2B9; /* shade 3 of primary from left */
    --highlight-color: #C48919; /* base */
}

.pink {
    --highlight-color: #FF3066;
}

@media only screen and (min-width: 767px) and (max-width: 960px) {
    :root {
        --baseline-h: 20px;
        --baseline-v: 16px;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    :root {
        --baseline-h: 20px;
        --baseline-v: 16px;
    }
}