.snackbar {
    visibility: hidden;

    position: fixed;
    left: var(--baseline-h);
    bottom: var(--baseline-v);
    padding: var(--baseline-v) var(--baseline-h);
    min-width: calc(var(--baseline-h) * 6);
    overflow: hidden;
    border-radius: 2px;

    text-align: center;

    color: var(--primary-foreground);
    background-color: var(--secondary-background);

    z-index: 1;
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}