* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--primary-background);
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
    color: var(--primary-foreground);
}

body {
    font-size: var(--baseline-v);
    line-height: 2;
}

h1, h2, h3, h4, h5, h6, p, hr {
    padding: 0;
    margin: 0 0 calc(var(--baseline-v) * 1.5);
}

h1 {
    font-size: calc(var(--baseline-v) * 2.5);
    margin-bottom: calc(var(--baseline-v) * 2.5);
}

h2 {
    font-size: calc(var(--baseline-v) * 2.25);
    margin-bottom: calc(var(--baseline-v) * 2.25);
}

h3 {
    font-size: calc(var(--baseline-v) * 2);
    margin-bottom: calc(var(--baseline-v) * 2);
}

h4 {
    font-size: calc(var(--baseline-v) * 1.75);
    margin-bottom: calc(var(--baseline-v) * 1.75);
}

h5 {
    font-size: calc(var(--baseline-v) * 1.5);
    margin-bottom: calc(var(--baseline-v) * 1.5);
}

h6 {
    font-size: calc(var(--baseline-v) * 1.25);
    margin-bottom: calc(var(--baseline-v) * 1.25);
}

/* Remove tap highlight on iOS */
input,
textarea,
button,
select,
a {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:link  {
    color: var(--highlight-color);
}

a:visited {
    color: var(--secondary-foreground);
}

a:active {
    color: var(--primary-foreground);
}
path {
    fill: var(--primary-background);
    stroke: var(--highlight-color);
}

.page {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-background);
}

.menu {
    width: 100%;
    display: flex;
    background-color: var(--secondary-background);
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    overflow: auto;
    overscroll-behavior-y: none;
}

.menu .menu-text:first-child {
    padding-left: var(--baseline-h);
}

.menu-text {
    font-weight: var(--weight-thin);
    margin-bottom: 0;
    padding: var(--baseline-v) var(--baseline-h);
}

.menu a, .menu-text a {
    color: var(--primary-foreground);
    text-decoration: none;
}

.logo {
    font-weight: var(--weight-thin);
    letter-spacing: 2px;
}

.logo:hover {
    background-color: initial;
}

.center {
    position: absolute; /*it can be fixed too*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.hidden {
    display: none !important;
    transition: opacity 0.5s;
}

#loader-container {
    position: fixed;
    overflow: hidden;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
}

.pointer {
    cursor: pointer;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar,
.hide-scroll-bar::-webkit-scrollbar {
    display: none !important;
}

/* Hide scrollbar for IE and Edge */
body {
    -ms-overflow-style: none;
}

/* Tablet Styles */

@media only screen and (min-width: 767px) and (max-width: 960px) {
    .menu-text:hover {
        background-color: var(--highlight-color);
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .page {
        width: 960px;
        margin: 0 auto;
    }

    .page .menu {
        width: 960px;
    }

    .menu-text:hover {
        background-color: var(--highlight-color);
    }

    body {
        font-size: var(--baseline-v);
        line-height: 1.8;
    }
}
